# 사방사업현황

사방사업현황 -> 경기도 산사태위험지역을 대상으로 해마다 진행되는 사방사업 현황입니다.

가설 : 태양광발전소, 터널 및 도로 등 건설은 산사태에 영향을 줄 것이다.
-> 산사태 많은 지역 혹은 위험지역과 사방사업현황을 비교
-> 적절한 지역에 사방사업이 진행되고 있는지를 분석

In [112]:
# 경고메세지 제거
import warnings
warnings.filterwarnings('ignore')

In [113]:
import matplotlib.pyplot as plt
from matplotlib import rc

# 한글처리
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

# 모듈 및 데이터 로딩

In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [115]:
df = pd.read_csv('사방사업현황.csv', encoding ='euc-kr')
#data = pd.read_csv('산사태_현황.csv')
#data2 = pd.read_csv('산사태발생.csv')

# 데이터 특성 확인하기

In [59]:
df.head(1)

,사업완료년도,관리번호,시행상위기관명,시행하위기관명,시공소재지시도명,시공소재지시군구명,시공소재지읍면동명,시공소재지리명,국비(백만원),지방비(백만원),합계사업비(백만원)
0,2018,경기-00838,경기도,산림환경연구소,경기도,김포,통진,서암,50.0,22.0,72.0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사업완료년도      900 non-null    int64
 1   관리번호        883 non-null    object
 2   시행상위기관명     900 non-null    object
 3   시행하위기관명     900 non-null    object
 4   시공소재지시도명    900 non-null    object
 5   시공소재지시군구명   900 non-null    object
 6   시공소재지읍면동명   830 non-null    object
 7   시공소재지리명     857 non-null    object
 8   국비(백만원)     571 non-null    float64
 9   지방비(백만원)    571 non-null    float64
 10  합계사업비(백만원)  680 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 77.5+ KB

In [61]:
df.describe()

            사업완료년도     국비(백만원)    지방비(백만원)  합계사업비(백만원)
count   900.000000  571.000000  571.000000  680.000000
mean   2010.542222  120.483187   50.509632  157.758824
std       6.956515   69.677010   31.157402   96.295985
min    1986.000000   10.000000    0.000000    6.000000
25%    2007.000000   72.500000   29.000000   96.000000
50%    2013.000000  103.000000   42.000000  136.000000
75%    2015.000000  158.000000   65.500000  200.000000
max    2018.000000  675.000000  289.000000  964.000000

In [62]:
df.shape

(900, 11)

In [63]:
df.isnull().sum()

사업완료년도          0
관리번호           17
시행상위기관명         0
시행하위기관명         0
시공소재지시도명        0
시공소재지시군구명       0
시공소재지읍면동명      70
시공소재지리명        43
국비(백만원)       329
지방비(백만원)      329
합계사업비(백만원)    220
dtype: int64

In [64]:
df['사업완료년도'].value_counts()

2012    120
2014    118
2013    100
2016     66
2017     66
2018     61
2015     61
2007     38
2010     27
2005     27
2006     23
2011     22
2009     20
1999     16
2001     14
2008     13
2004     12
2003     12
2002     11
1997      9
1990      8
1998      7
1989      7
1995      6
1986      6
1991      5
1988      5
2000      4
1996      4
1993      4
1994      3
1987      3
1992      2
Name: 사업완료년도, dtype: int64

In [65]:
df['시행상위기관명'].value_counts()

경기도        883
북부지방산림청     12
서울특별시        5
Name: 시행상위기관명, dtype: int64

In [66]:
max(df['사업완료년도'])

2018

### 년도 상관없이(2022년도가 없음,,) 시공소재지시도명, 시공소재지시군구명, 시공소재지읍면동명, 합계사업비(백만원)

# 불필요한 컬럼 제거

In [67]:
# 원본 복사해두기
df_copy = df.copy()

In [68]:
df.drop(['시공소재지시도명', '사업완료년도', '관리번호', '시행상위기관명', '시행하위기관명', '시공소재지리명', '국비(백만원)', '지방비(백만원)'], axis=1, inplace=True)

In [69]:
df.head(0)

Empty DataFrame
Columns: [시공소재지시군구명, 시공소재지읍면동명, 합계사업비(백만원)]
Index: []

In [70]:
df.isnull().sum()

시공소재지시군구명       0
시공소재지읍면동명      70
합계사업비(백만원)    220
dtype: int64

In [71]:
df = df.dropna(subset=['시공소재지읍면동명'])

In [72]:
df['합계사업비(백만원)'] = df['합계사업비(백만원)'].fillna(0)

In [73]:
df.isnull().sum()

시공소재지시군구명     0
시공소재지읍면동명     0
합계사업비(백만원)    0
dtype: int64

In [74]:
# 주소 하나의 column으로 합치기
df['지역명'] = df['시공소재지시군구명'] + df['시공소재지읍면동명']

In [75]:
df.head()

  시공소재지시군구명 시공소재지읍면동명  합계사업비(백만원)    지역명
0        김포        통진        72.0   김포통진
1       남양주        수동        79.0  남양주수동
2        김포        월곶       134.0   김포월곶
4        광주        초월       230.0   광주초월
5        광주        도척        50.0   광주도척

In [76]:
df_final = df.copy()
df_final

    시공소재지시군구명 시공소재지읍면동명  합계사업비(백만원)    지역명
0          김포        통진        72.0   김포통진
1         남양주        수동        79.0  남양주수동
2          김포        월곶       134.0   김포월곶
4          광주        초월       230.0   광주초월
5          광주        도척        50.0   광주도척
..        ...       ...         ...    ...
886        포천        일동        26.0   포천일동
887        파주        적성        28.0   파주적성
891        포천        화현        19.0   포천화현
897        수원        장안        20.0   수원장안
899        여주        강천        23.0   여주강천

[830 rows x 4 columns]

In [77]:
df_final = df_final[['지역명', '합계사업비(백만원)']]

In [78]:
df_final.head()

     지역명  합계사업비(백만원)
0   김포통진        72.0
1  남양주수동        79.0
2   김포월곶       134.0
4   광주초월       230.0
5   광주도척        50.0

In [79]:
df_final['지역명'].value_counts()

이천신둔          29
가평북           28
연천군전곡읍        24
양주장흥          23
연천신서          21
              ..
동두천시상봉암동       1
용인시 수지구고기동     1
의왕내손동          1
의왕왕곡동          1
수원장안           1
Name: 지역명, Length: 169, dtype: int64

# 산사태 데이터 분석

In [143]:
data = pd.read_csv('산사태_현황.csv')

In [144]:
data.head()

   시도명  읍면명  산사태피해면적       산사태재해명  산사태재해년도 시군구명
0  경기도  단월면     3.15  7.28.~8.11.     2020  양평군
1  경기도  단월면     2.57  7.28.~8.11.     2020  양평군
2  경기도  단월면     2.28  7.28.~8.11.     2020  양평군
3  경기도  단월면     2.19  7.28.~8.11.     2020  양평군
4  경기도  호법면     1.96  7.28.~8.11.     2020  이천시

In [145]:
data['산사태재해년도'].value_counts()

2020    225
2018     22
2019      1
Name: 산사태재해년도, dtype: int64

In [146]:
data_copy = data.copy()

In [147]:
data['지역명'] = data['시군구명'] + data['읍면명']

In [148]:
data.head()

   시도명  읍면명  산사태피해면적       산사태재해명  산사태재해년도 시군구명     지역명
0  경기도  단월면     3.15  7.28.~8.11.     2020  양평군  양평군단월면
1  경기도  단월면     2.57  7.28.~8.11.     2020  양평군  양평군단월면
2  경기도  단월면     2.28  7.28.~8.11.     2020  양평군  양평군단월면
3  경기도  단월면     2.19  7.28.~8.11.     2020  양평군  양평군단월면
4  경기도  호법면     1.96  7.28.~8.11.     2020  이천시  이천시호법면

In [150]:
data_final = data['지역명'].value_counts().to_frame()

In [151]:
data_final

            지역명
안성시죽산면       49
안성시일죽면       38
이천시호법면       16
용인시 처인구백암면   14
가평군가평읍        9
이천시율면         8
양평군단월면        7
가평군청평면        7
용인시 처인구원삼면    7
연천군신서면        6
양주시장흥면        6
연천군연천읍        6
이천시장호원읍       6
이천시모가면        6
이천시마장면        6
연천군중면         5
양주시남면         4
안성시삼죽면        3
가평군상면         2
양평군청운면        2
안성시금광면        2
연천군청산면        2
김포시대곶면        2
양평군서종면        2
용인시 처인구이동읍    2
포천시신북면        2
연천군백학면        2
양평군용문면        2
여주시점동면        1
연천군군남면        1
연천군전곡읍        1
이천시대월면        1
용인시 처인구양지면    1
남양주시진접읍       1
안성시서운면        1
양평군강상면        1
여주시가남읍        1
이천시신둔면        1
포천시신읍동        1
안성시보개면        1
용인시 수지구성복동    1
양평군양평읍        1
가평군조종면        1
하남시초일동        1
김포시월곶면        1
평택시비전동        1
포천시영중면        1
연천군미산면        1
이천시단월동        1
파주시파주읍        1
포천시창수면        1
양평군양동면        1
파주시법원읍        1

In [156]:
data_final.rename(columns={"지역명":'산사태발생횟수'},inplace=True)

In [158]:
data_final = data_final.reset_index().rename(columns={"index":"지역명"})

In [160]:
data_final

           지역명  산사태발생횟수
0       안성시죽산면       49
1       안성시일죽면       38
2       이천시호법면       16
3   용인시 처인구백암면       14
4       가평군가평읍        9
5        이천시율면        8
6       양평군단월면        7
7       가평군청평면        7
8   용인시 처인구원삼면        7
9       연천군신서면        6
10      양주시장흥면        6
11      연천군연천읍        6
12     이천시장호원읍        6
13      이천시모가면        6
14      이천시마장면        6
15       연천군중면        5
16       양주시남면        4
17      안성시삼죽면        3
18       가평군상면        2
19      양평군청운면        2
20      안성시금광면        2
21      연천군청산면        2
22      김포시대곶면        2
23      양평군서종면        2
24  용인시 처인구이동읍        2
25      포천시신북면        2
26      연천군백학면        2
27      양평군용문면        2
28      여주시점동면        1
29      연천군군남면        1
30      연천군전곡읍        1
31      이천시대월면        1
32  용인시 처인구양지면        1
33     남양주시진접읍        1
34      안성시서운면        1
35      양평군강상면        1
36      여주시가남읍        1
37      이천시신둔면        1
38      포천시신읍동        1
39      안성시보개면        1
40  용인시 수지구성복동        1
41      양평군양평읍        1
42      가평군조종면        1
43      하남시초일동        1
44      김포시월곶면        1
45      평택시비전동        1
46      포천시영중면        1
47      연천군미산면        1
48      이천시단월동        1
49      파주시파주읍        1
50      포천시창수면        1
51      양평군양동면        1
52      파주시법원읍        1

In [161]:
df_final

       지역명  합계사업비(백만원)
0     김포통진        72.0
1    남양주수동        79.0
2     김포월곶       134.0
4     광주초월       230.0
5     광주도척        50.0
..     ...         ...
886   포천일동        26.0
887   파주적성        28.0
891   포천화현        19.0
897   수원장안        20.0
899   여주강천        23.0

[830 rows x 2 columns]

In [162]:
tp = pd.merge(df_final, data_final, how='outer', on='지역명')

In [163]:
tp.fillna(0,inplace=True)

In [164]:
tp

        지역명  합계사업비(백만원)  산사태발생횟수
0      김포통진        72.0      0.0
1     남양주수동        79.0      0.0
2     남양주수동        50.0      0.0
3     남양주수동       299.0      0.0
4     남양주수동       262.0      0.0
..      ...         ...      ...
868  포천시영중면         0.0      1.0
869  연천군미산면         0.0      1.0
870  이천시단월동         0.0      1.0
871  파주시파주읍         0.0      1.0
872  양평군양동면         0.0      1.0

[873 rows x 3 columns]